# This workflow will install Python dependencies, run tests and lint with multiple versions of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: generate-coverage-report

on:
  push:
    branches: [ "test" ]
  pull_request:
    branches: [ "test" ]

permissions:
  contents: read

jobs:
  test:
    name: Generate coverage report for pytest
    runs-on: ubuntu-latest

    steps:
    - name: Check out repository code
      uses: actions/checkout@v4

    - name: Set up Python latest version
      uses: actions/setup-python@v5
      with:
        python-version: "3.x"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8
        pip install .[test]

    - name: Run tests with coverage report
      run: |
        pip install coverage
        coverage run -m pytest

    - name: Generate coverage report
      run: |
        coverage report
        coverage html
    
    # Upload coverage report
    - name: Upload coverage report
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: ./htmlcov
        retention-days: 5  # optional, to keep the artifact for a limited time